<% if logged_in? %>
	<% flash.each do |message_type, message| %>
		<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
	<% end %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= button_to "Video Call", room_path, method: 'get', class: "btn btn-info" %>
			</section>
			<section class="micropost_form" style="margin-top: 5px">
				<%= bootstrap_form_tag url: 'conference_record/save_record' do |f| %>
					<%= f.file_field :record, html: {multipart: true}, label: "Speech2txt" %>
					<%= f.submit "View Result", class: "btn btn-info", style: "font-size: 10px important" %>
				<% end %>
				<!--%= link_to "View Result", @@stt_url target: "_blank" %!-->
			</section>
			<section class="micropost_form">
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="col-md-8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1>Welcome to <strong>Vid.conf</strong></h1>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>
