<% provide(:title, "Log in")%>

<% flash.each do |message_type, message| %>
	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<div class="form_bg">
	<div class="row">
		<h1 class="logo">
			Vid.conf
		</h1>
		<div class="col-md-9 col-centered" style="width: 330px">
			<%= bootstrap_form_for(:session, url: login_path) do |f| %>
				<%= f.email_field :email, hide_label: true, placeholder: "Email" %>

				<%= f.password_field :password, hide_label: true, placeholder: "Password" %>
				<div style="text-align: right; margin-right: 5px">
					<%= link_to "Forgot your password?", new_password_reset_path %>
				</div>

				<%= f.form_group :remember_me do %>
					<%= f.check_box :remember_me, label: "Remember me" %>
				<% end %>

				<%= f.submit "Log in", class: "btn btn-info login" %>
			<% end %>

			<p>New to Vid.conf? <%= link_to "Sign up", signup_path %>.</p>
		</div>
		<%= render 'shared/get_the_app' %>
	</div>
</div>
