<%= f.text_field :name, hide_label: true, placeholder: "Full Name" %>
<%= f.email_field :email, hide_label: true, placeholder: "Email" %>
<%= f.password_field :password, hide_label: true, placeholder: "Password" %>
<!--%= f.password_field :password_confirmation, hide_label: true, placeholder: "Confirm password" %!-->
