<%= provide(:title, 'All users') %>
<% flash.each do |message_type, message| %>
	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<h1>All users</h1>

<div class="users">
	<%= render @users %>
</div>
