<% provide(:title, 'Sign up') %>

<% flash.each do |message_type, message| %>
	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<div class="form_bg">
	<div class="row">
		<h1 class="logo">
			Vid.conf
		</h1>
		<div class="col-md-9 col-centered" style="width: 330px">
			<%= button_to "Log in", login_path, method: 'get', class: "btn btn-info login" %>
			<div class="dividing-box">
				<div class="dividing-line"></div>
				<div class="dividing-text"> OR </div>
				<div class="dividing-line"></div>
			</div>
			<%= bootstrap_form_for @user, url: {action: :new} do |f| %>
				<%= render 'fields_no_picture', f: f %>
				<%= f.submit "Sign up", class: "btn btn-info signup" %>
			<% end %>
		</div>
		<%= render 'shared/get_the_app' %>
	</div>
</div>
