<div class="get-the-app">
	Get the app.
</div>
<div>
	<%= link_to image_tag("app_store.png", size: "150", class: "app-store" ), "http://www.apple.com/itunes/charts/free-apps/", target: '_blank' %>
	<%= link_to image_tag("google_play.png", size: "125", class: "google-play" ), "https://play.google.com/store", target: '_blank'%>
</div>
