<%= image_tag(current_user.profile_picture.url(:standard), class: "gravatar") %>
<h1 id="name"><%= current_user.name %></h1>
<span class="view_profile"><%= link_to "view profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
