body{
	height: 100%;
	width:100%;
}

video{
	width: 100%;
}

.container-full {
	margin: 0 auto;
	width: 90%;
}

/*
 * stream-box css style
 */
.user-info{
	background: black;
	color: white;
	font-size: 100%;
	padding: 3px;
}
.user-video-box{
	position: relative;
	margin-top:5px;
	margin-bottom:5px;
}
.stream-box-wrapper {
	position: relative;
	display:block;
	background: black;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}
.stream-box-wrapper video {
	width: 100%;
}
.mic-volume-remote{
	position: absolute;
	bottom: 25px;
	left: 50px;
}
.volume-meter-vertical-remote{
	width: 40px;
	margin: 0 auto;
}
.volume-meter-vertical-remote .volume-meter-segment-remote{
	width: 100%;
	height: 8px;
	border-radius: 2px;
	opacity: 0.8;
	border: 1px #fff solid;
	margin-top: 2px;
}
.volume-meter-vertical-remote .volume-meter-segment-remote.active{
	background: #fff;
	opacity: 1;
}
.mic-volume{
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.volume-meter-vertical{
	width: 20px;
	margin: 0 auto;
}
.volume-meter-vertical .volume-meter-segment{
	width: 100%;
	height: 8px;
	border-radius: 2px;
	opacity: 0.8;
	border: 1px #fff solid;
	margin-top: 2px;
}
.volume-meter-vertical .volume-meter-segment.active{
	background: #fff;
	opacity: 1;
}
.volume-bar {
	width: 5px;
	height: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #12acef;
}
.video-control{
	display: block;
}
.video-control button{
	display: inline-block;
	background: #fff;
}
.video-control button:hover{
	background: #e6eade;
}

.audio-record {
	width: 100%;
	display: block;
	border: 0;
}

/*
 * chat room css style
 */

.chat
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
	margin-left: 60px;
}

.chat li.right .chat-body
{
	margin-right: 60px;
}


.chat li .chat-body p
{
	margin: 0;
	color: #777777;
	word-break: break-all;
}

.panel-fullscreen{
	right:0;
	bottom:0;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
	margin-right: 5px;
}

.panel-body
{
	overflow-y: scroll;
	height: 70vh;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

