<!DOCTYPE html>
<html>
	<head>
		<title>Video Conference | Vid.conf</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-full">
			<h1 id="title">Start a room</h1>
			<div id="username" style="display: none"><%= @user.name %></div>
			<div class="row content">
				<div class="col-sm-2" style="background-color:lavender;">
					<p id="subTitle">CNL</p>
					<div>
						<form id="createRoom">
							<!--<input id="sessionInput"/> -->
							<button type="submit">Create it!</button>
						</form>
					</div>
					<div class="user-video-box">
						<div class="user-info">
							<p id="user_name"><%= @user.name %></p>
						</div>
						<div class="stream-box-wrapper">
							<video id="local-video" oncontextmenu="return false;"></video>
							<div class="mic-volume">
								<div id="local-volume" class="volume-meter volume-meter-vertical">
									<div class="volume-meter-segment"></div>
									<div class="volume-meter-segment"></div>
									<div class="volume-meter-segment"></div>
									<div class="volume-meter-segment"></div>
									<div class="volume-meter-segment"></div>
								</div>
								<i class="fa fa-volume-up" style="color:white"></i>
							</div>
						</div>
						<div class="video-control">
							<button id="btn-mute" type="button" class="btn btn-default">
								<span class="fa fa-microphone-slash"></span>
							</button>
							<button id="btn-pause" type="button" class="btn btn-default">
								<span class="fa fa-video-camera"></span>
							</button>
							<button id="btn-share" type="button" class="btn btn-lg">
								<span class="glyphicon glyphicon-expand"></span>Share screen
							</button>
						</div>
					</div>
					<div>
						<iframe src="https://webaudiodemos.appspot.com/AudioRecorder/index.html" class="audio-record"> </iframe>
					</div>
				</div>
				<div class="col-sm-7" style="background-color:lavenderblush;">
					<div id="remotes"></div>
				</div>
				<div class="col-sm-3" style="position:fixed; right:0;">
					<div id="chat-room" class="panel panel-primary panel-fullscreen" >
						<div class="panel-heading">
							<span class="glyphicon glyphicon-comment"></span> Chat
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-chevron-down"></span>
								</button>
								<ul class="dropdown-menu slidedown">
									<li><a><span class="glyphicon glyphicon-refresh"></span>Refresh</a></li>
									<li><a><span class="glyphicon glyphicon-ok-sign"></span>Available</a></li>
									<li><a><span class="glyphicon glyphicon-remove"></span>Busy</a></li>
									<li class="divider"></li>
									<li><a><span class="glyphicon glyphicon-off"></span>Sign Out</a></li>
								</ul>
							</div>
						</div>
						<div id="panel-body-id" class="panel-body">
							<ul id="messages" class="chat">
							</ul>
						</div>
						<div class="panel-footer">
							<div class="input-group">
								<input id="input-chat" type="text" class="form-control input-sm" placeholder="Type your message here..." />
								<span class="input-group-btn">
									<button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/assets/simplewebrtc.bundle.js"></script>
	<script src="/assets/client.js"></script>
</body>
</html>
