@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

body {
	padding-top: 60px;
}

.bg {
	background-image: image-url('business-videochat.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

a {
	color: #33ccff;
	font-weight: bold;
	&:hover {
		color: #33ccff;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	margin-top: 10px;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2.2em;
	font-family: "Zapf Chancery", cursive;
	color: white;
	//text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#menu {
	font-size: 18px;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-light;
	color: $gray-light;
	a {
		color: $gray-medium-light;
		&:hover {
			color: $gray-medium-light;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
		h1 {
			font-size: 25px;
		}
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 15px;
}

.gravatar_edit {
	margin-top: 15px;
}

.stats.follow {
	overflow: auto;
	a {
		border-left: 1px solid $gray-lighter;
		color: gray
	}
	&:hover {
		text-decoration: none;
		color: MediumSeaGreen;
	}
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		font-size: 20px;
		float: left;
		padding: 0 10px;
		//border-left: 3px solid $gray-lighter;
		//color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: MediumSeaGreen;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 20px;
	.gravatar {
		margin: 1px 1px;
	}
	a {
		padding: 0;
	}
}

.users.follow {
	padding: 0;
}

/* logo */

.logo {
	margin-bottom: 30px; 
	margin-top: 40px; 
	font-family: Zapf Chancery, cursive; 
	font-size: 4em;
	font-weight: bold;
}

/* forms */

input {
	//background: rgba(255, 255, 255, 0.9) !important;
	font-size: 18px !important;
	//height: auto !important;
}

textarea {
	font-size: 18px !important;
	width: 90% !important;
}

label {
	font-size: 18px !important;
}

.form_bg {
	width: 400px;
	background: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 25px;
}

.has-error .help-block {
	margin-left: 3px;
  color: #FF0000 !important;
	font-size: 16px !important;
	font-weight: bold;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

/* button */

.btn.btn-info.login {
	width: 100% !important; 
	margin-top: 3px !important; 
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold !important;
	background: rgba(51, 153, 255, 0.8);
	border-style: none;
}

.btn.btn-info.signup {
	width: 100% !important; 
	margin-top: 3px !important; 
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold !important;
	background: rgba(51, 153, 255, 0.8);
	border-style: none;
}

/* get the app */
.get-the-app {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 18px;
}

.app-store {
	margin-bottom: 40px;
	margin-left: 70px;
	float: left;
}

.google-play {
	margin-bottom: 40px;
	margin-right: 70px;
	float: right;
}

/* dividing line */

.dividing-box{
	flex-direction: row;
	display: flex;
	margin-top: 25px;
	margin-bottom: 25px;
}

.dividing-text {
	margin: 0 15px;
	font-size: 15px;
	font-weight: bold;
}

.dividing-line {
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
	height: 1px;
	position: relative;
	top: 0.65em;
}

/* flash */

.alert.alert-my_danger {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	background: rgba(179, 0, 0, 0.8);
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: -20px;
	width: 400px;
}

.alert.alert-my_info {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	background: rgba(0, 179, 60, 0.8);
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: -20px;
	width: 400px;
}

/* Users index */

.users {
	list-style: none;
	margin-left: 0px;
	margin-top: 20px;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
	#name {
		color: white;
		font-size: 18px;
		&:hover {
			color: MediumSeaGreen;
		}
	}
}

/* microposts */

.microposts {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.user {
		font-size: 18px;
		margin-top: 5em;
		padding-top: 0;
	}
	.content {
		font-size: 20px;
		display: block;
		margin-left: 60px;
		img {
			display: block;
			padding: 5px 0;
			margin-top: 15px;
			margin-left: 20px;
		}
	}
	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 78px;
	}
	.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}

span.view_profile {
	margin-top: 20px;
}


@import "bootswatch/darkly/bootswatch";
