<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application", 
				"//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js",
				'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<% if params[:controller] == "users" and params[:action] == "new" %>
		<body class="bg">
			<%= render 'layouts/body' %>
		</body>
	<% elsif params[:controller] == "sessions" and (params[:action] == "new" or params[:action] == "create") %>
		<body class="bg">
			<%= render 'layouts/body' %>
		</body>
	<% else %>
		<body>
			<%= render 'layouts/header' %>
			<%= render 'layouts/body' %>
		</body>
	<% end %>
</html>
